@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Helvetica";
    src: url("/public/fonts/helvetica-ultra-light") format("ttf");
  }

  @font-face {
    font-family: "Roboto Regular";
    src: url("/public/fonts/roboto-light") format("ttf");
  }

  @font-face {
    font-family: "Roboto Light";
    src: url("/public/fonts/roboto-regular") format("ttf");
  }

  html {
    scroll-behavior: smooth;
  }

  h1, h2, h3  {
    font-family: "Helvetica"
  }
}
